{% extends "base.html" %}
{% block content %}
<body>
    

    <h1>{{ mark.mark_name }}</h1>
    <button type="button" class="btn btn-outline-secondary"><a href="{% url 'landing-page' %}">На главную</a></button>
    <br>
    {% for model in models%}
    <ul class="list-group"></ul>
    <li class="list-group-item">{{ model.model_name }}</a></li>

    {% endfor %}
<br>
<div class="pagination">
    <span class="step-links">
        {% if models.has_previous %}

            <a href="?page=1">&laquo; первая</a>
            <a href="?page={{ models.previous_page_number }}">предыдущая</a>

        {% endif %}

        <span class="current">
            Страница {{models.number }} из {{ models.paginator.num_pages }}.
        </span>

        {% if models.has_next %}
            <a href="?page={{ models.next_page_number }}">следующая</a>
            <a href="?page={{ models.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
{% endblock content %}
</body>
</div>